@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.big-grid{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header"
        "bottom";
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    background-color: #fdfdf9;
    margin: 0 auto;
}
header{
    background-color: #7ED6A9;
    grid-area: header;
    width: 100%
}
.back-button{
    background-color: #F0FBF6;
    width: 125px;
    height: 25px;
    border: 2px solid;
    border-color: #53C6BE;
    border-radius: 45px;
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.backli{
    list-style: none;
}
.backa{
    text-decoration: none;
    align-self: center;
    color: #2E2E2E;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.back-button:hover, .back-button:focus{
    background-color: #D5F2EA;
    border-color: #2BA79D;
    cursor: pointer;
}
.searchbar{
    display: flex;
    margin-left: 20px;
}
#search{
    background-color: #F5F5F5;
    border: 1px solid;
    border-color: #E8E8E8;
    width: 400px;
    height: 30px;
    margin-top: 10px;
    border-radius: 45px;
}
#search::placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding-left: 5px;
}
.mainpagetitle{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2E2E2E;
    font-size: 40px;
    margin: 0 auto;
    margin-left: 15px; 
}
.navbar{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    text-align: center;
}
.homenav, .budgetnav, .tipsnav, .profilenav, .settingsnav{
    list-style: none;
}
.homenav a, .budgetnav a, .tipsnav a, .profilenav a, .settingsnav a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #2E2E2E;
}
.navbar li a:hover, .navbarli a:focus{
    text-decoration: underline;
    text-decoration-color: #2E2E2E;
    cursor: pointer;
    background-color: #D5F2EA;
}
.maininfo{
    width: 90%;
    margin: 0 auto;
}
.firstrow{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}
.budget, .tips, .expenses{
    width: 30%;
    height: 160px;
    background-color: #F0FBF6;
    border: 2px solid;
    border-color: #53C6BE;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.budgetlink, .tipslink, .expenseslink{
    list-style: none;
}
#total-budget, #daily-tips, #total-expenses{
    text-decoration: none;
    color: #2E2E2E;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding: 5px;
}
.budget:hover, .budget:focus, .tips:hover, .tips:focus,
.expenses:hover, .expenses:focus{
    background-color: #D5F2EA;
    border-color: #2BA79D;
    cursor: pointer;
}
.secondrow{
    margin-top: 20px;
    width: 100%;
    background-color: #F0FBF6;
    border: 2px solid;
    border-color: #53C6BE;
    border-radius: 20px;
    height: 160px;
}
.transactionslink{
    list-style: none;
    margin-top: 10px;
}
.recenttransactions{
    text-decoration: none;
    color: #2E2E2E;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-left: 20px;
}
.ht-purchase{
    margin-top: 10px;
    background-color: white;
    width: 90%;
    height: 45px;
    align-content: center;
    margin: 0 auto;
}
.gas-purchase{
    background-color: #F5F5F5;
    width: 90%;
    height: 45px;
    align-content: center;
    margin: 0 auto;
}
.ht, .gas{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-left: 20px;
    color: #2E2E2E;
}
.transactionsnav{
    margin-top: 20px;
    width: 100%;
    background-color: #F0FBF6;
    border: 2px solid;
    border-color: #53C6BE;
    border-radius: 20px;
    height: 60px;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.transactionslink a{
    text-decoration: none;
    color: #2E2E2E;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}
.transactionsnav:hover, .transactionsnav:focus{
    background-color: #D5F2EA;
    border-color: #2BA79D;
    cursor: pointer;
}
footer{
    background-color: #7ED6A9;
    height: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    justify-items: center;
}
.budget-buddy-logo{
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 5px;
}
.footer-text{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2E2E2E;
    font-size: 16px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .big-grid{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas:
            "header"
            "bottom";
        margin: 0 auto;
        height: 100vh;
        width: 100%;
        background-color: #fdfdf9;
        margin: 0 auto;
    }
    header{
        background-color: #7ED6A9;
        grid-area: header;
        grid-template-columns: auto 1fr;
        align-items: flex-start;
        position: relative;
        width: 100%
    }
    .back-button{
        background-color: #F0FBF6;
        width: 125px;
        height: 25px;
        border: 2px solid;
        border-color: #53C6BE;
        border-radius: 45px;
        margin-left: 20px;
        margin-top: 30px;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    .backli{
        list-style: none;
    }
    .backa{
        text-decoration: none;
        align-self: center;
        color: #2E2E2E;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
    }
    .back-button:hover, .back-button:focus{
        background-color: #D5F2EA;
        border-color: #2BA79D;
        cursor: pointer;
    }
    .searchbar{
        display: flex;
        margin-left: 20px;
    }
    #search{
        background-color: #F5F5F5;
        border: 1px solid;
        border-color: #E8E8E8;
        width: 400px;
        height: 30px;
        margin-top: 10px;
        border-radius: 45px;
    }
    #search::placeholder{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        padding-left: 5px;
    }
    .mainpagetitle{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #2E2E2E;
        font-size: 46px;
        margin: 0 auto;
        text-align: left;
        padding-left: 20px;
    }
    .navbar{
        grid-column: 2/3;
        align-self: flex-end;
        gap: 20px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
        text-align: center;
        margin-right: 20px;
    }
    .homenav, .budgetnav, .tipsnav, .profilenav, .settingsnav{
        list-style: none;
    }
    .homenav a, .budgetnav a, .tipsnav a, .profilenav a, .settingsnav a{
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: #2E2E2E;
    }
    .navbar li a:hover, .navbarli a:focus{
        text-decoration: underline;
        text-decoration-color: #2E2E2E;
        cursor: pointer;
        background-color: #D5F2EA;
    }
    .maininfo{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "budget tips"
            "transactions expenses"
            "alltran alltran";
        gap: 20px;
        margin-top: 20px;
    }
    .firstrow{
        display: contents;
    }
    .secondrow{
        display: contents;
    }
    .budget{
        grid-area: budget;
    }
    .tips{
        grid-area: tips;
    }
    .secondrow{
        grid-area: transactions;
    }
    .expenses{
        grid-area: expenses;
    }
    .transactionsnav{
        grid-area: alltran;
    }
    .budget, .tips, .expenses{
        width: auto;
        height: 160px;
        background-color: #F0FBF6;
        border: 2px solid;
        border-color: #53C6BE;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .budgetlink, .tipslink, .expenseslink{
        list-style: none;
    }
    #total-budget, #daily-tips, #total-expenses{
        text-decoration: none;
        color: #2E2E2E;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
    }
    .budget:hover, .budget:focus, .tips:hover, .tips:focus,
    .expenses:hover, .expenses:focus{
        background-color: #D5F2EA;
        border-color: #2BA79D;
        cursor: pointer;
    }
    .secondrow > div{
        width: 100%;
        background-color: #F0FBF6;
        border: 2px solid;
        border-color: #53C6BE;
        border-radius: 20px;
        height: 160px;
    }
    .secondrow > div > li > a{
        text-decoration: none;
        color: #2E2E2E;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
        margin-left: 20px;
    }
    .ht-purchase{
        margin-top: 10px;
        background-color: white;
        width: 90%;
        height: 45px;
        align-content: center;
        margin: 0 auto;
    }
    .gas-purchase{
        background-color: #F5F5F5;
        width: 90%;
        height: 45px;
        align-content: center;
        margin: 0 auto;
    }
    .ht, .gas{
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        padding-left: 20px;
        color: #2E2E2E;
    }
    .transactionsnav{
        margin-top: 0px;
        width: 100%;
        background-color: #F0FBF6;
        border: 2px solid;
        border-color: #53C6BE;
        border-radius: 20px;
        height: 60px;
        align-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .transactionslink a{
        text-decoration: none;
        color: #2E2E2E;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
    }
    .transactionsnav:hover, .transactionsnav:focus{
        background-color: #D5F2EA;
        border-color: #2BA79D;
        cursor: pointer;
    }
    footer{
        background-color: #7ED6A9;
        height: 75px;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        justify-items: center;
    }
    .budget-buddy-logo{
        max-width: 60px;
        width: 100%;
        height: auto;
        margin-right: 5px;
    }
    .footer-text{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #2E2E2E;
        font-size: 18px;
        margin: 0;
    }
}